<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
   <form action="/login/getLogin" method="get">
   <input type="email" name="email" id="" placeholder="email" ><br>
   <input type="password" name="password" id="" placeholder="password" ><br>
   <input type="submit">

   </form>
   <table>
    <tr>
        <td>ID</td>
        <td>Name</td>
        <td>Update</td>
        <td>Delete</td>
    </tr>
    {{/data}}

    <form action="/login/updateLogin" method="post">
   <td><input type="text" name="id" id="" values"{{id}}" ></td>
   <td><input type="text" name=name" id="" values"{{name}}" ></td>
   <td><button name="Update" ><Update/button> ></td>
   <td><button><Delete/button> </td>
   <td><input type="submit"</td>

    <tr>

    </tr>
    {{/data}}
   </table>
</body>
</html>